.config-form {
  background-color: var(--color-background-secondary);
  border: var(--border);
  border-radius: var(--border-radius-block);

  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__title {
    font-size: var(--font-size-big);
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__fieldset {
    &-function-select {
      grid-area: funcSelect;
    }

    &-type {
      grid-area: type;
    }

    &-interval {
      grid-area: interval;
    }

    &-accuracy {
      grid-area: accuracy;
    }

    &-latency {
      grid-area: latency;
    }
  }

  &__fieldsets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;

    grid-template-areas: "funcSelect accuracy"
                         "interval interval"
                         "type type"
                         "latency latency";

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__radios {
    --configFormRadiosPaddingInline: 64px;

    display: flex;
    justify-content: space-between;
    column-gap: 5px;

    padding-inline: calc(var(--configFormRadiosPaddingInline) - var(--fieldsetPaddingInline));
  }

  &__submit-button {
    font-size: var(--font-size-big);

    width: 100%;
  }
}