@use "../helpers" as *;

.output-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}

.output {
  display: flex;
  flex-direction: column;

  position: absolute;
  inset: 0;

  &__header {
    background-color: var(--color-console-background-alt);
    border: var(--color-console-border);
    color: var(--color-console-header-font);

    border-top-left-radius: var(--border-radius-block);
    border-top-right-radius: var(--border-radius-block);

    padding: 5px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;

    &-title {
      font-size: var(--font-size-bigger);
      font-weight: 600;
    }

    &-clear-button {
      width: 32px;
      height: 32px;

      background-color: var(--color-console-header-button);
      border: 1px solid var(--color-console-border);
      border-radius: 4px;

      padding: 4px;

      cursor: pointer;

      &, & svg {
        transition-duration: var(--transition-duration);
      }

      @include hover {
        background-color: var(--color-console-header-button-hover);

        & svg {
          stroke: #A9B1BC;
        }
      }
    }
  }

  &__out-container {
    background-color: var(--color-console-background);

    border: var(--border-console);
    border-top: none;

    border-bottom-left-radius: var(--border-radius-block);
    border-bottom-right-radius: var(--border-radius-block);

    padding: 10px;

    font-family: "JetBrainsMono_c", monospace, sans-serif;
    font-weight: 400;
    font-size: var(--font-size-regular);
    color: #fff;

    flex-grow: 1;

    display: flex;
    flex-direction: column-reverse;
    row-gap: 10px;

    overflow-y: auto;
  }

  &__message-container {
    &[data-type="message"] {
      --message-highlight-color: var(--color-console-info);
    }

    &[data-type="error"] {
      --message-highlight-color: var(--color-console-error);
    }

    &[data-type="stepChanged"] {
      --message-highlight-color: var(--color-console-update);
    }

    &[data-type="endOfSearch"] {
      --message-highlight-color: var(--color-console-result);
    }

    &[data-type="intervalChanged"] {
      --message-highlight-color: var(--color-console-update);
    }

    &[data-type="finalExtremum"] {
      --message-highlight-color: var(--color-console-result);
    }

    & > span, & > b {
      color: var(--message-highlight-color);
      font-weight: 700;
    }
  }
}