.radio-button {
  &__label {
    display: flex;
    align-items: center;
    column-gap: 5px;

    line-height: 50%;

    cursor: pointer;
  }

  &__custom-radio {
    width: 18px;
    height: 18px;

    color: var(--color-accent-primary);

    border: 1px solid currentColor;
    border-radius: 50%;

    position: relative;

    &::after {
      content: "";

      width: 12px;
      height: 12px;

      background-color: currentColor;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      scale: 0;

      transition-duration: 0.2s;
    }
  }

  &__marker:checked ~ &__label > &__custom-radio::after {
    scale: 1;
  }

  &:disabled {
    opacity: 0.65;
    pointer-events: none;
  }
}