@font-face {
  font-family: "Roboto_c";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto_c";
  font-weight: 300;
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto_c";
  font-weight: 600;
  src: url("../fonts/Roboto-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto_c";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
