*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-main);

  color: var(--color-font-primary);
  font-size: 14px;
  font-family: "Roboto_c", sans-serif;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}