@use "normalize";
@use "reset";
@use "variables";
@use "fonts";
@use "global";
@use "utils";

@use "components";

//.config-form-wrapper, .graph-wrapper, .output-wrapper {
//  background-color: var(--color-background-secondary);
//  border: 1px solid var(--color-border);
//}